<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.kh.project.dao.ProductDAO">
	<insert id="insertProduct" useGeneratedKeys="true" keyColumn="product_num" >
		<selectKey keyProperty = "pd.product_num" order="BEFORE">
			SELECT ifnull(max(product_num),0) + 1 FROM product
		</selectKey>
		insert into product(product_num,product_name,product_type,product_content,product_bi_id,product_service,product_lo_num,product_postNum,product_mainAddress,product_detailAddress,product_extraAddress)
		value(#{pd.product_num}
			,#{pd.product_name}
			,#{pd.product_type}
			,#{pd.product_content}
			,#{pd.product_bi_id}
			,#{pd.product_service}
			,#{pd.product_lo_num}
			,#{pd.product_postNum}
			,#{pd.product_mainAddress}
			,#{pd.product_detailAddress}
			,#{pd.product_extraAddress}
			)
	</insert>	 
	
	<insert id="insertProductRooms" useGeneratedKeys="true" keyColumn="r_num" >
		<selectKey keyProperty = "room.r_num" order="BEFORE">
			SELECT ifnull(max(r_num),0) + 1 FROM room
		</selectKey>
		insert into room(r_num,r_title,r_intro,r_price,r_product_num)
		value(#{room.r_num}
			,#{room.r_title}
			,#{room.r_intro}
			,#{room.r_price}
			,#{room.r_product_num}
			)
	</insert>
	
	<insert id="insertFile">
		<selectKey keyProperty = "fileVo.file_num" order="BEFORE">
			SELECT ifnull(max(file_num),0) + 1 FROM file
		</selectKey>
		insert into file(file_num,file_name,file_location,file_originName,file_size)
		value(#{fileVo.file_num}
			,#{fileVo.file_name}
			,#{fileVo.file_location}
			,#{fileVo.file_originName}
			,#{fileVo.file_size}
			);
			
		insert into productfile(pf_product_num, pf_file_num)
		values(#{fileVo.pf_product_num}
			,#{fileVo.file_num}
			);
	</insert>
	<insert id="insertRoomFile">
		<selectKey keyProperty = "fileVo.file_num" order="BEFORE">
			SELECT ifnull(max(file_num),0) + 1 FROM file
		</selectKey>
		insert into file(file_num,file_name,file_location,file_originName,file_size)
		value(#{fileVo.file_num}
			,#{fileVo.file_name}
			,#{fileVo.file_location}
			,#{fileVo.file_originName}
			,#{fileVo.file_size}
			);
			
		insert into rommfile(rf_r_num, rf_file_num)
		values(#{fileVo.rf_r_num}
			,#{fileVo.file_num}
			);
	</insert>
	
	<select id="selectLocation" resultType="kr.kh.project.vo.LocationVO">
		<![CDATA[
			select * from location where lo_num > 0;
		]]>
	</select>
	<select id="selectDetailLocation" resultType="kr.kh.project.vo.detailLocationVO">
		<![CDATA[
			select * from detailLocation where dl_lo_num = #{lo_num}
		]]>
	</select>
</mapper>


 