<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.kh.project.dao.ProductDAO">
	<insert id="insertProduct" useGeneratedKeys="true" keyProperty="param.product_num" parameterType="kr.kh.project.vo.ProductVO">
		insert into product(product_num,product_name,product_type,product_content,product_bi_id,product_service,product_lo_num,product_dl_num,product_postNum,product_mainAddress,product_detailAddress,product_extraAddress)
		select ifnull(max(product_num),0) + 1 
			,#{param.product_name}
			,#{param.product_type}
			,#{param.product_content}
			,#{param.product_bi_id}
			,#{param.product_service}
			,#{param.product_lo_num}
			,#{param.product_dl_num}
			,#{param.product_postNum}
			,#{param.product_mainAddress}
			,#{param.product_detailAddress}
			,#{param.product_extraAddress}
		from product
	</insert>	 
	
	<insert id="insertProductRoom" useGeneratedKeys="true" keyColumn="r_num" parameterType="kr.kh.project.vo.ProductRoomsVO">
		<selectKey keyProperty="room.r_num" order="BEFORE" resultType="Integer">
			SELECT ifnull(max(r_num),0) + 1 FROM room
		</selectKey>
		insert into room(r_num,r_title,r_intro,r_price,r_product_num)
		values(#{room.r_num}
			,#{room.r_title}
			,#{room.r_intro}
			,#{room.r_price}
			,#{room.r_product_num}
			)
	</insert>
	
	<insert id="insertFile" useGeneratedKeys="true" keyProperty="fileVo.file_num" parameterType="kr.kh.project.vo.ProductFileVO">
		insert into file(file_num,file_name,file_location,file_originName,file_size)
		select ifnull(max(file_num),0) + 1
			,#{fileVo.file_name}
			,#{fileVo.file_location}
			,#{fileVo.file_originName}
			,#{fileVo.file_size}
		from file;
	</insert>
	<insert id="insertProductFile" useGeneratedKeys="true" keyProperty="p_fileVo.pf_file_num" parameterType="kr.kh.project.vo.ProductFileVO">
		insert into productfile(pf_product_num, pf_file_num)
		values(#{p_fileVo.pf_product_num}
			,#{p_fileVo.pf_file_num}
			);
	</insert>
	<insert id="insertProductRoomFile" useGeneratedKeys="true" keyProperty="p_r_fileVo.rf_file_num" parameterType="kr.kh.project.vo.ProductRoomFileVO">			
		insert into roomfile(rf_r_num, rf_file_num)
		values(#{p_r_fileVo.rf_r_num}
			,#{p_r_fileVo.rf_file_num}
			);
	</insert>
	
	<select id="selectLocation" resultType="kr.kh.project.vo.LocationVO">
		<![CDATA[
			select * from location where lo_num > 0;
		]]>
	</select>
	<select id="selectDetailLocation" resultType="kr.kh.project.vo.detailLocationVO">
		<![CDATA[
			select * from detailLocation where dl_lo_num = #{lo_num}
		]]>
	</select>
</mapper>


 